@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: rgba(217, 221, 213, 1);
	font-family: 'open Sans', sans-serif;
	font-size: 18px;
}

img {
	width: 40%;
	display: inline-block;
	margin: auto 0;
	padding: 20px;
	background: rgba(42, 40, 42, 1);
}

h1 {font-family: 'Open Sans', sans-serif;color: rgba(247, 251, 253, 1);font-size: 32px;font-weight: bold;text-align: left;float: left;}

h2 {
font-family: 'Open Sans', sans-serif;
color: rgba(247, 251, 253, 1);
	font-size: 28px;
	font-weight: bold;
	text-align:center;
}

#homepage_text {
	font-family: 'Open Sans', sans-serif;
color: rgba(26, 76, 101, 1);
	font-size: 18px;
	font-weight: bold;
	text-align:center;
}


#call to action {
	text-align: right;
}

#homepage_overview {
		background-color: rgba(208, 213, 221, 0.35);
	    border: 1px black solid;
    padding: 10px;
}



footer {
	background-color: red;
	    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: rgba(208, 213, 221, 0.35);
	color: black;
	border: 1px black solid;
	padding: 20px;
	/* text-align: right; */
	float: right;
}
footer {
	background-color: #FF957E;
	    border: 1px black solid;
    padding: 20px;
}


div {
background-color: rgba(208, 213, 221, 0.35);
    border: 1px black solid;
    padding: 20px;
}
#splash {
	background:url(../images/Unleash_homepage.png);
	background-size:cover;
	background-repeat:no-repeat;
	height: 85vh;
}
#two_collumn {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left_unleash_overview {/* background-color: violet; *//* border: 1px black solid; */padding: 2em;float: left;width: 50%;}

#right_unleash_benefits {
    /* background-color: pink; */
    /* border: 1px black solid; */
    padding: 2em;
    float: right;
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
