@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
	background: rgb(97,238,255);
	color: rgb(127,123,127);
	font-family: 'open Sans', sans-serif;
	font-size: 18px;
}

img {
	width: 40%;
	display: inline-block;
}

#two_collumn {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left_unleash_overview {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
}

#right_unleash_benefits {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
}

}
h1, h2 {
font-family: 'Open Sans', sans-serif;
color: white;
	font-size: 32px;
	font-weight: bold;
	border-bottom: 4px solid black;
}
a {
	color:inherit;	
}

#call to action {
	text-align: right;
}
header {
	background-color: #FFED74;
	    border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: red;
	    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
	    border: 1px black solid;
    padding: 20px;
    text-align: right;
}

aside {
	background-color: #FFC675;
	    border: 1px black solid;
    padding: 20px;
    text-align: right;
}

article {
	background-color: #E89C6C;
	    border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: #FF957E;
	    border: 1px black solid;
    padding: 20px;
}

div {
background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}