body {
	background: rgb(97,238,255);
	color: rgb(127,123,127);
	font-family: calibri, sans-serif;
	font-size: 16px;
}

img {
	width:100%;
}
h1 {
	color: Blue;
	font-size: 32px;
	font-weight: bold;
	text-decoration: underline;
}
a {
	color:inherit;	
}
