body {
	background: rgb(97,238,255);
	color: rgb(127,123,127);
	font-style: calibri;
}

img {
	text-align: center;
	background: cover;
}
h1 {
	color: Blue;
	text-align: center;
	Text-size: 30px;
	font-weight: bold;
	text-decoration: underline;
}

p, li, a {
	color: black;
	text-size: 15px;
	text-align: center;
}
ul {
	text-align: center;
}